@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1240px;
    margin: 0 auto;
 
}
/* share style */
.display-flex{
    display: flex;
}
marquee span{
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin: 5px 0;
}
.school{
  justify-content: space-around; 
  margin: 20px 0px 10px 0px;
  align-items: center;
}
.brand{
    align-items: center;
    gap: 10px;
}
.brand-name{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
.brand img{
 width: 60px;
 height: 60px;
}
.nav-bar{

}
.navigation{
    gap: 35px;
}
.navigation li{
    list-style: none;
    margin: 0;
    font-family: Quicksand;
    font-size: 0.85rem;
    font-weight: 700;
}
.navigation li a{
    text-decoration: none;
}
/* only color */
.nav-item1{ color: rgb(254, 163, 1);}
.nav-item2{color :rgb(1, 172, 253) ;}
.nav-item3{color: rgb(5, 212, 223); }
.nav-item4{color: rgb(93, 88, 239); }

.contact-button{
border-radius: 12px;
background: rgb(254, 163, 1);
position: static;
width: 150px;
height: 45px;
border: 0;
color: white;
font-family: Quicksand;
font-size: 0.85rem;
font-weight: 600;
cursor: pointer;
}
.icon{
    display: none;
}
/* complete header  */
/* section empowering */
.empowering{
    justify-content: space-around;
    margin: 100px 0px;
}

.empowering-text-content{
    flex-direction: column;
    justify-content: center;
}
.empowering-heading{
    font-family: Quicksand;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin: 10px 0;
    margin-bottom: 15px;
}
.empower-color{color: rgb(254, 163, 1);}
.vision-color{color: rgb(1, 172, 253);}
.empowering-text{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.2rem;
    margin: 15px 0;
    width: 400px;
    
}
.commontwo-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    position: static;
    width: 140px;
    height: 35px;
    border: 0;
    color: white;
    font-family: Quicksand;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;   
}
.empowering-image-content img{
width: 100%;
}
@media screen and (max-width:576px) {
    body{
        max-width: 480px;
        margin: 0 auto;
    }
    .contact-button,
    .navigation,
    .brand-name,
    marquee,
    .card-content-large {
        display: none;
    }
    header{
        box-sizing: border-box;

        border: 1px solid rgb(254, 163, 1);
    }
    .school{
        margin: 0;
        padding: 5px;

    }
    .icon{
        display:inline;
        cursor: pointer;
    }
    .empowering{
        flex-direction: column-reverse;
        align-items: center;
    }
    .empowering-text-content {
        align-items: center;
    }
    .empowering-text-content h1, p {    text-align: center;}
    .empowering-image-content img{ width: 100%;}

}
/* curriculam section */
.curriculam{
    background: url(./assets/bg.png);
    margin: 100px 0px;
    background-repeat: no-repeat;
    width: 100%;
}
.curriculam-heading{
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
}
.card-box{
    justify-content: space-evenly;
    margin-top: 110px;

}
.card-image img{
    padding-top: 15px;
}
.card-head{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-content1, .card-content2, .card-content3 ,.card-text-content{
    flex-direction: column;
    align-items: center;

}
.card-content1{
    width: 300px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    transition: transform 1.5s ease 0.3ms;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-content2{
    width: 300px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    transition: transform 1.5s ease 0.3ms;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-content3{
    width: 300px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    transition: transform 1.5s ease 0.3ms;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-content1:hover{
    transform: scale(1.1);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.card-content2:hover{
    transform: scale(1.1);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-content3:hover{
    transform: scale(1.1);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.card-text{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.15rem;
    width: 220px;
    text-align: center;
    margin-bottom: 20px;

}
.read1, .read2, .read3{
    font-family: Quicksand;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    margin: 15px;
}
.read1{color: rgb(100, 200, 255);}
.read2{color: rgb(240, 170, 0);}
.read3{color: rgb(135, 0, 255);}
.for-icon{
    justify-content: center;
    gap: 10px;
    margin: 90px;
}
.less , .great{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 42px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease .3ms;
}
.less:hover{transform: scale(0.8);}
.great:hover{transform: scale(1.1);}
@media screen and (max-width:576px) {
   .card-box{
    flex-direction: column;
    align-items: center;
    gap: 20px;
   } 
   .card-content1, 
   .card-content2,
   .card-content3{
    width: 95%;
    /* height: 350px; */
   }
   .for-icon{
    display: none;
   }

}
/* stories section */
.stories{
    background: url(./assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    /* border: 20px solid red; */
    padding: 0;
}
.stories-card-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 120px 50px;
    justify-self: center;
    
}
.card-content-large{
grid-column: 1/3;
grid-row: 1/3;
width: 90%;
transition: transform 3s ease 0.3ms;
}
.card-title-large{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 1.2rem;
font-weight: 700;
text-align: left;
margin:30px 15px;
margin-left: 50px;
}
.card-discription{
    color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 0.8rem;
font-weight: 500;
line-height: 1.1rem;
text-align: left;
margin: 15px;
margin-top: 40px;
margin-left: 50px;
}
#large{
 height:285px ;

}
/* large  */
.card-content{
 transition: transform 0.75s ease 3ms;
}
.card-content:hover{
    transform: scale(1.1);
}
.card-content-large:hover{
    transform: rotatey(360deg);
}
.stories-card-image{
    margin: 0;
    padding: 0;
}
.stories-card-image img{
    width: 100%;
    border-radius:8px 8px 0px 0px;
   padding: 0;

}
.stories-card-text-content{
    background-color: white;
    margin-top: -16px;
    border-radius:0px 0px 8px 8px;
    width: 100%;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-title{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 0.9rem;
font-weight: 700;
line-height: 1.2rem;
letter-spacing: 0%;
text-align: left;
margin-top: 10px; 
}
/* card btn */
.card-btn{
    margin-top: -40px;
}
.btn{
    border-radius: 47.93px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    text-align: center;
    margin-top: -6px;
    /* margin-left: 35px; */
    border: 0;
    height: 35px;
    width: 160px;
    cursor: pointer;
}
#btn1{
    background: rgb(60, 216, 232);
    margin-left: 50px;
}
#btn2{
    background: rgb(149, 178, 38);
}
#btn3{
    background: rgb(93, 88, 240);
}
/* last btn */
.btn-container{
    justify-content: center;
    padding: 40px;
    
}
@media  screen and (max-width:576px) {
    .stories-card-box{
     grid-template-columns:repeat(2,1fr);
     margin: 30px 10px;
     
    }
    .card-content:hover,
    .card-content-large:hover,
    .card-content1:hover,
    .card-content2:hover,
    .card-content3:hover{
        transition: none;
        transform: none;
       
    }
}
/* foooter */
.kid-footer{
    margin: 0px ;
    background: rgb(1, 172, 253);
    border-radius: 8px;
}
.kid-card{
    justify-content: space-evenly;
    padding-top: 50px;
}
#brand-name{
    color: rgb(255, 255, 255);

}
#high{
    height: 100%;
}
.card-header{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1.3rem;
    text-align: left;
}
.kid-card-text{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: left;
    width: 280px;
}
.kid-card-content{
    color:rgb(255, 255, 255);
}
.list{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 0.8;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
}
#icon-content{
    flex-direction: column;
    gap: 20px;
}
.contact-icon{
    gap: 10px;
    width: 100%;
    cursor: pointer;
}
.list a{
    text-decoration: none;
}
@media screen and (max-width:576px) {
    .kid-card{
        flex-direction: column;
        padding: 20px;
    }
    .list{
        text-align: left;
    }

    
}




